.DS_Store
node_modules
/dist

# local env files
.env.dev
.env.prod

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

BriteCore *
.firebase
