$primary-color: rgb(0, 77, 221);
$primary-font: white;
$secondary-color: rgb(14, 14, 250);
$secondary-font: black;

$border: rgb(134, 134, 134);

$danger: #d11a2a;

$breakpoints: (xs: 300px,
sm: 700px,
md: 1000px,
lg: 1200px);
